@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        :root{
            --primary_color : rgb(254,64,102);
        }

        .main {
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        form {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(128, 128, 128, 0.39);
            padding: 25px 40px;
            border-radius: 10px;
        }

        .center-span {
            display: block;
            margin: auto;
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 600;
        }

        .font-sm{
            font-size: 16px;
        }

        .myt-15{
            margin-top: 15px;
        }

        a{
            color: var(--primary_color);
            text-decoration: none;
        }

        .inputFields {
            width: 98%;
            height: 49px;
            padding: 20px 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            border: none;
            outline: none;
            background-color: #eeeeee;
            accent-color: white;
            font-size: 16px;
        }

        .btn{
            width: 120px;
            height: 43px;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 1.2px;
            border: none;
            background-color: rgb(254,64,102);
            color: white;
            border-radius: 40px;
            cursor: pointer;
        }
        
        .btn:hover{
            background-color: rgb(212, 28, 64);
        }

        textarea{
            resize: vertical;
        }